*/*

template
theoretical

!**/notes/
!**/out/
!**/readings/
!**/topics/

**/node_modules
**/__pycache__

**/.DS_STORE

# Specific
/art of data/topics/labs/
/seminar/topics/gridworld/gridgames/
/seminar/topics/cats/
